.legend-item {
    cursor: pointer;

    &.noselect-item {
        color: #ccc;

        .legend-icon {
            background: #ccc !important;
            transform: scale(1.5);
        }
    }
}
  